<?xml version="1.0"?>
<config>
    <modules>
        <Mc_Zoomcloud>
            <version>1.0.1</version>
        </Mc_Zoomcloud>
    </modules>
    <global>
        <helpers>
            <Zoomcloud>
                <class>Mc_Zoomcloud_Helper</class>
            </Zoomcloud>
        </helpers>
        <resources>
            <Zoomcloud_setup>
                <setup>
                    <module>Mc_Zoomcloud</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Zoomcloud_setup>
            <Zoomcloud_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Zoomcloud_write>
            <Zoomcloud_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Zoomcloud_read>
        </resources>
    </global>
	<default>
        <Zoomcloud>
            <general>
				<enabled>0</enabled>
				<jquery>1</jquery>
				<mainImagehei>265</mainImagehei>
				<mainImagewid>265</mainImagewid>
				<additionalImagehei>60</additionalImagehei>
				<additionalImagewid>60</additionalImagewid>
            </general>
        </Zoomcloud>
    </default>
    <frontend>
        <layout>
            <updates>
                <Zoomcloud>
                    <file>Zoomcloud.xml</file>
                </Zoomcloud>
            </updates>
        </layout>
    </frontend>
</config>